:root {
  --primarypr-50: rgba(237, 243, 254, 1);
  --primarypr-100: rgba(199, 219, 252, 1);
  --primarypr-200: rgba(171, 201, 250, 1);
  --primarypr-300: rgba(133, 177, 248, 1);
  --primarypr-400: rgba(109, 161, 246, 1);
  --primarypr-500: rgba(73, 138, 244, 1);
  --primarypr-600: rgba(66, 126, 222, 1);
  --primarypr-700: rgba(52, 98, 173, 1);
  --primarypr-800: rgba(40, 76, 134, 1);
  --primarypr-900: rgba(31, 58, 102, 1);
  --secondaryse-50: rgba(253, 236, 235, 1);
  --secondaryse-100: rgba(248, 197, 192, 1);
  --secondaryse-200: rgba(245, 169, 161, 1);
  --secondaryse-300: rgba(240, 130, 118, 1);
  --secondaryse-400: rgba(237, 105, 92, 1);
  --secondaryse-500: rgba(233, 68, 51, 1);
  --secondaryse-600: rgba(212, 62, 46, 1);
  --secondaryse-700: rgba(165, 48, 36, 1);
  --secondaryse-800: rgba(128, 37, 28, 1);
  --secondaryse-900: rgba(98, 29, 21, 1);
  --tertiaryte-50: rgba(255, 248, 230, 1);
  --tertiaryte-100: rgba(253, 235, 178, 1);
  --tertiaryte-200: rgba(253, 225, 140, 1);
  --tertiaryte-300: rgba(252, 211, 88, 1);
  --tertiaryte-400: rgba(251, 202, 55, 1);
  --tertiaryte-500: rgba(250, 189, 5, 1);
  --tertiaryte-600: rgba(228, 172, 5, 1);
  --tertiaryte-700: rgba(178, 134, 4, 1);
  --tertiaryte-800: rgba(138, 104, 3, 1);
  --tertiaryte-900: rgba(105, 79, 2, 1);
  --quarternaryqu-50: rgba(234, 246, 240, 1);
  --quarternaryqu-100: rgba(190, 228, 209, 1);
  --quarternaryqu-200: rgba(158, 215, 186, 1);
  --quarternaryqu-300: rgba(114, 197, 155, 1);
  --quarternaryqu-400: rgba(87, 186, 136, 1);
  --quarternaryqu-500: rgba(45, 169, 106, 1);
  --quarternaryqu-600: rgba(41, 154, 96, 1);
  --quarternaryqu-700: rgba(32, 120, 75, 1);
  --quarternaryqu-800: rgba(25, 93, 58, 1);
  --quarternaryqu-900: rgba(19, 71, 45, 1);
  --neutralne-50: rgba(245, 245, 245, 1);
  --neutralne-100: rgba(225, 225, 225, 1);
  --neutralne-200: rgba(210, 210, 210, 1);
  --neutralne-300: rgba(190, 190, 190, 1);
  --neutralne-400: rgba(177, 177, 177, 1);
  --neutralne-500: rgba(158, 158, 158, 1);
  --neutralne-600: rgba(144, 144, 144, 1);
  --neutralne-700: rgba(112, 112, 112, 1);
  --neutralne-800: rgba(87, 87, 87, 1);
  --neutralne-900: rgba(66, 66, 66, 1);
  --neutralneu-1000: rgba(32, 33, 36, 1);
  --basebase-50: rgba(255, 255, 255, 1);
  --basebase-100: rgba(249, 250, 251, 1);
  --basebase-200: rgba(244, 246, 248, 1);
  --greyscale-400: #202124;
  --neutralneu-500: rgba(84, 85, 89, 1);
  --gravyfa6-navy: rgba(25, 49, 84, 1);
  --heading-h1-56px-bold-font-family: "Poppins", Helvetica;
  --heading-h1-56px-bold-font-weight: 700;
  --heading-h1-56px-bold-font-size: 56px;
  --heading-h1-56px-bold-letter-spacing: 0.84px;
  --heading-h1-56px-bold-line-height: 84px;
  --heading-h1-56px-bold-font-style: normal;
  --heading-h2-48px-bold-font-family: "Poppins", Helvetica;
  --heading-h2-48px-bold-font-weight: 700;
  --heading-h2-48px-bold-font-size: 48px;
  --heading-h2-48px-bold-letter-spacing: 0.72px;
  --heading-h2-48px-bold-line-height: 72px;
  --heading-h2-48px-bold-font-style: normal;
  --heading-h3-40px-bold-font-family: "Poppins", Helvetica;
  --heading-h3-40px-bold-font-weight: 700;
  --heading-h3-40px-bold-font-size: 40px;
  --heading-h3-40px-bold-letter-spacing: 0.6px;
  --heading-h3-40px-bold-line-height: 60px;
  --heading-h3-40px-bold-font-style: normal;
  --heading-h4-32px-bold-font-family: "Poppins", Helvetica;
  --heading-h4-32px-bold-font-weight: 700;
  --heading-h4-32px-bold-font-size: 32px;
  --heading-h4-32px-bold-letter-spacing: 0.48px;
  --heading-h4-32px-bold-line-height: 48px;
  --heading-h4-32px-bold-font-style: normal;
  --body-xxlarge-24px-regular-font-family: "Poppins", Helvetica;
  --body-xxlarge-24px-regular-font-weight: 400;
  --body-xxlarge-24px-regular-font-size: 24px;
  --body-xxlarge-24px-regular-letter-spacing: 0px;
  --body-xxlarge-24px-regular-line-height: 36px;
  --body-xxlarge-24px-regular-font-style: normal;
  --body-xxlarge-24px-medium-font-family: "Poppins", Helvetica;
  --body-xxlarge-24px-medium-font-weight: 500;
  --body-xxlarge-24px-medium-font-size: 24px;
  --body-xxlarge-24px-medium-letter-spacing: 0px;
  --body-xxlarge-24px-medium-line-height: 36px;
  --body-xxlarge-24px-medium-font-style: normal;
  --body-xxlarge-24px-semi-font-family: "Poppins", Helvetica;
  --body-xxlarge-24px-semi-font-weight: 600;
  --body-xxlarge-24px-semi-font-size: 24px;
  --body-xxlarge-24px-semi-letter-spacing: 0px;
  --body-xxlarge-24px-semi-line-height: 36px;
  --body-xxlarge-24px-semi-font-style: normal;
  --body-xxlarge-24px-bold-font-family: "Poppins", Helvetica;
  --body-xxlarge-24px-bold-font-weight: 700;
  --body-xxlarge-24px-bold-font-size: 24px;
  --body-xxlarge-24px-bold-letter-spacing: 0px;
  --body-xxlarge-24px-bold-line-height: 36px;
  --body-xxlarge-24px-bold-font-style: normal;
  --body-xlarge-18px-regular-font-family: "Poppins", Helvetica;
  --body-xlarge-18px-regular-font-weight: 400;
  --body-xlarge-18px-regular-font-size: 18px;
  --body-xlarge-18px-regular-letter-spacing: 0px;
  --body-xlarge-18px-regular-line-height: 28px;
  --body-xlarge-18px-regular-font-style: normal;
  --body-xlarge-18px-medium-font-family: "Poppins", Helvetica;
  --body-xlarge-18px-medium-font-weight: 500;
  --body-xlarge-18px-medium-font-size: 18px;
  --body-xlarge-18px-medium-letter-spacing: 0px;
  --body-xlarge-18px-medium-line-height: 28px;
  --body-xlarge-18px-medium-font-style: normal;
  --body-xlarge-18px-semi-font-family: "Poppins", Helvetica;
  --body-xlarge-18px-semi-font-weight: 600;
  --body-xlarge-18px-semi-font-size: 18px;
  --body-xlarge-18px-semi-letter-spacing: 0px;
  --body-xlarge-18px-semi-line-height: 28px;
  --body-xlarge-18px-semi-font-style: normal;
  --body-xlarge-18px-bold-font-family: "Poppins", Helvetica;
  --body-xlarge-18px-bold-font-weight: 700;
  --body-xlarge-18px-bold-font-size: 18px;
  --body-xlarge-18px-bold-letter-spacing: 0px;
  --body-xlarge-18px-bold-line-height: 28px;
  --body-xlarge-18px-bold-font-style: normal;
  --body-large-16px-regular-font-family: "Poppins", Helvetica;
  --body-large-16px-regular-font-weight: 400;
  --body-large-16px-regular-font-size: 16px;
  --body-large-16px-regular-letter-spacing: 0px;
  --body-large-16px-regular-line-height: 24px;
  --body-large-16px-regular-font-style: normal;
  --body-large-16px-medium-font-family: "Poppins", Helvetica;
  --body-large-16px-medium-font-weight: 500;
  --body-large-16px-medium-font-size: 16px;
  --body-large-16px-medium-letter-spacing: 0px;
  --body-large-16px-medium-line-height: 24px;
  --body-large-16px-medium-font-style: normal;
  --body-large-16px-semi-font-family: "Poppins", Helvetica;
  --body-large-16px-semi-font-weight: 600;
  --body-large-16px-semi-font-size: 16px;
  --body-large-16px-semi-letter-spacing: 0px;
  --body-large-16px-semi-line-height: 24px;
  --body-large-16px-semi-font-style: normal;
  --body-large-16px-bold-font-family: "Poppins", Helvetica;
  --body-large-16px-bold-font-weight: 700;
  --body-large-16px-bold-font-size: 16px;
  --body-large-16px-bold-letter-spacing: 0px;
  --body-large-16px-bold-line-height: 24px;
  --body-large-16px-bold-font-style: normal;
  --body-medium-14px-regular-font-family: "Poppins", Helvetica;
  --body-medium-14px-regular-font-weight: 400;
  --body-medium-14px-regular-font-size: 14px;
  --body-medium-14px-regular-letter-spacing: 0px;
  --body-medium-14px-regular-line-height: 20px;
  --body-medium-14px-regular-font-style: normal;
  --body-medium-14px-medium-font-family: "Poppins", Helvetica;
  --body-medium-14px-medium-font-weight: 500;
  --body-medium-14px-medium-font-size: 14px;
  --body-medium-14px-medium-letter-spacing: 0px;
  --body-medium-14px-medium-line-height: 20px;
  --body-medium-14px-medium-font-style: normal;
  --body-medium-14px-semi-font-family: "Poppins", Helvetica;
  --body-medium-14px-semi-font-weight: 600;
  --body-medium-14px-semi-font-size: 14px;
  --body-medium-14px-semi-letter-spacing: 0px;
  --body-medium-14px-semi-line-height: 20px;
  --body-medium-14px-semi-font-style: normal;
  --body-medium-14px-bold-font-family: "Poppins", Helvetica;
  --body-medium-14px-bold-font-weight: 700;
  --body-medium-14px-bold-font-size: 14px;
  --body-medium-14px-bold-letter-spacing: 0px;
  --body-medium-14px-bold-line-height: 20px;
  --body-medium-14px-bold-font-style: normal;
  --body-small-12px-reguler-font-family: "Poppins", Helvetica;
  --body-small-12px-reguler-font-weight: 400;
  --body-small-12px-reguler-font-size: 12px;
  --body-small-12px-reguler-letter-spacing: 0px;
  --body-small-12px-reguler-line-height: 18px;
  --body-small-12px-reguler-font-style: normal;
  --body-small-12px-medium-font-family: "Poppins", Helvetica;
  --body-small-12px-medium-font-weight: 500;
  --body-small-12px-medium-font-size: 12px;
  --body-small-12px-medium-letter-spacing: 0px;
  --body-small-12px-medium-line-height: 18px;
  --body-small-12px-medium-font-style: normal;
  --body-small-12px-semi-font-family: "Poppins", Helvetica;
  --body-small-12px-semi-font-weight: 600;
  --body-small-12px-semi-font-size: 12px;
  --body-small-12px-semi-letter-spacing: 0px;
  --body-small-12px-semi-line-height: 18px;
  --body-small-12px-semi-font-style: normal;
  --body-small-12px-bold-font-family: "Poppins", Helvetica;
  --body-small-12px-bold-font-weight: 700;
  --body-small-12px-bold-font-size: 12px;
  --body-small-12px-bold-letter-spacing: 0px;
  --body-small-12px-bold-line-height: 18px;
  --body-small-12px-bold-font-style: normal;
  --body-xsmall-10px-regular-font-family: "Poppins", Helvetica;
  --body-xsmall-10px-regular-font-weight: 400;
  --body-xsmall-10px-regular-font-size: 10px;
  --body-xsmall-10px-regular-letter-spacing: 0px;
  --body-xsmall-10px-regular-line-height: 16px;
  --body-xsmall-10px-regular-font-style: normal;
  --body-xsmall-10px-medium-font-family: "Poppins", Helvetica;
  --body-xsmall-10px-medium-font-weight: 500;
  --body-xsmall-10px-medium-font-size: 10px;
  --body-xsmall-10px-medium-letter-spacing: 0px;
  --body-xsmall-10px-medium-line-height: 16px;
  --body-xsmall-10px-medium-font-style: normal;
  --body-xsmall-10px-semi-font-family: "Poppins", Helvetica;
  --body-xsmall-10px-semi-font-weight: 600;
  --body-xsmall-10px-semi-font-size: 10px;
  --body-xsmall-10px-semi-letter-spacing: 0px;
  --body-xsmall-10px-semi-line-height: 16px;
  --body-xsmall-10px-semi-font-style: normal;
  --body-xsmall-10px-bold-font-family: "Poppins", Helvetica;
  --body-xsmall-10px-bold-font-weight: 700;
  --body-xsmall-10px-bold-font-size: 10px;
  --body-xsmall-10px-bold-letter-spacing: 0px;
  --body-xsmall-10px-bold-line-height: 16px;
  --body-xsmall-10px-bold-font-style: normal;
  --heading-h4-medium-font-family: "Roboto", Helvetica;
  --heading-h4-medium-font-weight: 500;
  --heading-h4-medium-font-size: 18px;
  --heading-h4-medium-letter-spacing: 0px;
  --heading-h4-medium-line-height: 23px;
  --heading-h4-medium-font-style: normal;
  --card-shadow: 4px 4px 100px 0px rgba(0, 0, 0, 0.05), -4px -4px 100px 0px rgba(0, 0, 0, 0.05);
}
